* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  background-color: rgb(27, 27, 27);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  overflow-x: hidden;
}
header {
  color: white;
  font-family: sans-serif;
  width: 100%;
}
header h1 {
  /* margin-bottom: 18px; */
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  width: fit-content;
  margin: 0 auto;
  padding: 0 8px;
  text-align: center;
}
.pianoSelection {
  width: fit-content;
  margin: 20px auto;
}
/* select piano button */
header button {
  margin: 4px 8px;
  padding: 10px 16px;
  font-size: 18px;
  background-color: rgba(41, 40, 40, 0.979);
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}
button:hover {
  background-color: black;
}
button.active {
  background-color: black;
  color: yellow;
  scale: 1.2;
}
/*default piano style*/
.piano {
  width: 70%;
  max-width: 1200px;
  min-width: 600px;
  aspect-ratio: 24/10;
  position: relative;
}
.piano.piano88key {
  width: 95%;
  max-width: 1800px;
  min-width: 1300px;
}
.piano.piano76key {
  width: 80%;
  max-width: 1800px;
  min-width: 1300px;
}
.piano.piano61key {
  width: 75%;
  max-width: 1800px;
  min-width: 1300px;
}
.piano.piano49key {
  width: 80%;
  max-width: 1800px;
  min-width: 800px;
}
.piano.piano32key {
  width: 70%;
  max-width: 1200px;
  min-width: 600px;
}
.key {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; 
  padding: 4px 0;
}
.key .noteNoteValue{
  color: red;
}
.accidental h5{
  font-size: .6em;
}
.accidental .noteKeyPress{
  color: white;
}
.key:active {
  opacity: 0.9;
  scale: 0.95;
  transform-origin: top center;
}

.wk-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.key.natural {
  height: 100%;
  background-color: white;
  border: 1px solid grey;
  flex: 1;
}

/*default black container size*/
.bk-container {
  position: absolute;
  display: flex;
  gap: 0.6em;
  width: 100%;
  height: 55%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  padding: 0 1.4em;
}
.bk-container.piano88key {
  padding: 0 1.2em;
  gap: 4px;
}
.bk-container.piano76key {
  padding: 0 1.5em;
  gap: 9px;
}
.bk-container.piano61key {
  gap: 0.4em;
  padding: 0 1.2em;
}
.bk-container.piano49key {
  gap: 0.28em;
  padding: 0 1.28em;
}
.bk-container.piano32key {
  gap: 0.6em;
  padding: 0 1.4em;
}
.key.accidental {
  height: 100%;
  width: 100%;
  background-color: black;
}

.key.accidental.emptyBlack {
  visibility: hidden;
  pointer-events: none;
}
