* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  background-color: pink;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piano {
  width: 70%;
  height: 40%;
  max-width: 628px;
  position: relative;
  /* display: flex; */
}
.key{
  cursor: pointer;
}
.key:active{
  /* opacity: .8; */
  scale: .95;
  transform-origin: top center;
}

.wk-container {
  display: flex;
  height: 100%;
  width: 100%;
}
.key.white {
  height: 100%;
  background-color: white;
  border: 1px solid grey;
  flex: 1;
}

.bk-container{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width:80%;
  height: 55%;
  left:50%;
  transform: translateX(-50%);
  top:0;
}

.key.black {
  height: 100%;
  width: 10%;
  background-color: black;
}

.key.black.emptyBlack{
  visibility: hidden;
  pointer-events: none;
}
